@import "tailwindcss";

@theme {
  /* Fonts */
  --font-baloo: var(--font-baloo);
  --font-roboto: var(--font-roboto);

  /* Product colors */
  --color-yellow-dark: #c47f17;
  --color-yellow: #dbac2c;
  --color-yellow-light: #f1e9c9;
  --color-purple-dark: #4b2995;
  --color-purple: #8047f8;
  --color-purple-light: #ebe5f9;

  /* Base colors */
  --color-base-title: #272221;
  --color-base-subtitle: #403937;
  --color-base-text: #574f4d;
  --color-base-label: #8d8686;
  --color-base-hover: #d7d5d5;
  --color-base-button: #e6e5e5;
  --color-base-input: #ededed;
  --color-base-card: #f3f2f2;
  --color-background: #fafafa;
  --color-white: #ffffff;

  /* Font sizes */
  --text-title-xl: 3rem;
  --text-title-xl--line-height: 130%;
  --text-title-l: 2rem;
  --text-title-l--line-height: 130%;
  --text-title-m: 1.5rem;
  --text-title-m--line-height: 130%;
  --text-title-s: 1.25rem;
  --text-title-s--line-height: 130%;
  --text-title-xs: 1.125rem;
  --text-title-xs--line-height: 130%;
  --text-text-l: 1.25rem;
  --text-text-l--line-height: 130%;
  --text-text-m: 1rem;
  --text-text-m--line-height: 130%;
  --text-text-s: 0.875rem;
  --text-text-s--line-height: 130%;
  --text-text-xs: 0.75rem;
  --text-text-xs--line-height: 130%;
  --text-tag: 0.625rem;
  --text-tag--line-height: 130%;
  --text-button-g: 0.875rem;
  --text-button-g--line-height: 160%;
  --text-button-m: 0.75rem;
  --text-button-m--line-height: 160%;
}

body {
  background-color: var(--color-background);
  font-family: var(--font-roboto), sans-serif;
}
